<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>書籍管理くん</title>
</head>
<body>
<section id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">書籍一覧</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}">ログアウト</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<section id="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">タイトル</th>
                    <th scope="col">状態</th>
                    <th scope="col">更新</th>
                    <th scope="col">削除</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <th scope="row" th:text=${book.id}></th>
                    <td th:text=${book.title}></td>
                    <td th:text=${book.done}></td>
                    <td>
                        <form th:action="@{/bookUpdate/{id}(id=${book.id})}" method="POST"
                              enctype="multipart/form-data">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-sm text-white">更新</button>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/bookDelete/{id}(id=${book.id})}" method="POST"
                              enctype="multipart/form-data">
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger btn-sm text-white">削除</button>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <a class="btn btn-success btn-lg text-white" data-toggle="modal" data-target="#viewModal">書籍の追加</a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <!-- View Modal -->
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">書籍の追加</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/bookNew}" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>タイトル</label>
                            <input type="text" class="form-control" name="title" aria-describedby="emailHelp"
                                   placeholder="タイトル">
                        </div>
                        <div class="form-group">
                            <label>状態</label>
                            <select class="form-control" name="status">
                                <option>完了　</option>
                                <option>未完了</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>購入サイト</label>
                            <input type="text" class="form-control" name="site" aria-describedby="emailHelp"
                                   placeholder="購入サイト">
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                        <button type="submit" class="btn btn-primary">追加</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
